@import url('https://fonts.googleapis.com/css?family=New+Rocker|Pangolin');
body {
  font-size: 14px;
    line-height: 1.42857143;
    color: #ffff00;
    background-color: #000;
  }

  /*NavBar*/

  /*Header*/
h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'New Rocker', cursive;
    font-weight: 500;
    line-height: 1.1;
    color: #336600;
}

/*1st paragraph*/
/*p:hover {
  transform: scale(2);
  color: #ff0000;
}

p {
    margin: 0 0 10px;
    color: #ff0000;
    font-family: 'Pangolin', cursive;
}

p:hover {
  transform: scale(2);
}*/

/*comments*/
.info div {
    font-size: 100%;
    line-height: 135%;
    color: #737373;
    font-family: 'Pangolin', cursive;
}
